[Desktop Entry]
Categories=Development
Comment[es_ES]=Portal de escritorio para la Ciencia de Datos
Comment=Desktop portal to Data Science
Comment[ca@valencia]=Portal d'escriptori per a la Ciència de Dades
Comment[ca_ES.UTF-8@valencia]=Portal d'escriptori per a la Ciència de Dades
Comment[ca_ES@valencia]=Portal d'escriptori per a la Ciència de Dades
Comment[ca_ES]=Portal d'escriptori per a la Ciència de Dades
Exec=$HOME/anaconda3/bin/anaconda-navigator
GenericName[es_ES]=Anaconda Navigator
GenericName=Anaconda Navigator
GenericName[ca@valencia]=Anaconda Navigator
GenericName[ca_ES.UTF-8@valencia]=Anaconda Navigator
Icon=/usr/share/zero-lliurex-anaconda/anaconda.png
MimeType=
Name[es_ES]=Anaconda Navigator
Name=Anaconda Navigator
Name[ca_ES.UTF-8@valencia]=Anaconda Navigator
Name[ca_ES@valencia]=Anaconda Navigator
Name[ca_ES]=Anaconda Navigator
Name[ca@valencia]=Anaconda Navigator
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
