[Desktop Entry]
Version=1.0
Name=Lumi
Name[es]=Lumi
Name[ca_ES@valencia]=Lumi
Name[ca_ES.UTF-8@valencia]=Lumi
Name[ca_ES]=Lumi
Name[ca@valencia]=Lumi
Comment=H5P files management tool
Comment[es]=Herramienta para la gestión de ficheros H5P
Comment[ca_ES@valencia]=Eina per a la gestió de fitxers H5P
Comment[ca_ES.UTF-8@valencia]=Eina per a la gestió de fitxers H5P
Comment[ca@valencia]=Eina per a la gestió de fitxers H5P
GenericName=H5P Application
Exec=/usr/bin/lumi
TryExec=/opt/lumi/Lumi.AppImage
Terminal=false
Type=Application
Icon=lumi
Categories=LliureX-Author-Tools
StartupNotify=true
