Source: zero-lliurex-installers
Section: x11
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 10), zero-dev, llxsrchelper,inkscape (>= 0.47),python3-poinstaller
Standards-Version: 4.1.2

Package: zero-lliurex-alpaca
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Anaconda installer
  Zero-center helper, It installs Alpaca in flatpak version

Package: zero-lliurex-anaconda
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Anaconda installer
  Zero-center helper, It downloads and installs Anaconda-IDE

Package: zero-lliurex-antimicrox
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: AntiMicroX installer
  Zero-center helper, It installs AntiMicroX in flatpak version

Package: zero-lliurex-anydesk
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Anydesk installer
  Zero-center helper, It downloads and installs Anydesk package

Package: zero-lliurex-anything-llm
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: AnythingLLM installer
  Zero-center helper, It downloads and installs AnythingLLM Desktop

Package: zero-lliurex-audacity-ai
Architecture: all
Section: x11
Depends: zero-center,epi-gtk (>= 0.15.10), git-lfs
Description: Audacity with AI Support Installer
  Zero-center helper, It install audacity with openVINO support

Package: zero-lliurex-autofirma
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Autofirma installer
  Zero-center helper, It downloads and installs Autofirma package

Package: zero-lliurex-azure-cli
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Azure CLI installer
  Zero-center helper, It downloads and installs azure cli package


Package: zero-lliurex-calibre
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Calibre installer
  Zero-center helper, It installs Calibre flatpak package
 
Package: zero-lliurex-chrome
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Google Chrome browser installer
 Zero-center helper, It installs Google Chrome browser on Lliurex

Package: zero-lliurex-chromecast
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Mkchromecast installer
 Zero-center helper, It installs Mkchromecast client on Lliurex
 
Package: zero-lliurex-chromium
Architecture: all
Sections: x11
Depends: zero-center,epi-gtk
Description: Chromium installer
 Zero-center helper, It install chromium browser in snap version

Package: zero-lliurex-cobang
Architecture: all
Sections: x11
Depends: zero-center,epi-gtk
Description: CoBang installer
 Zero-center helper, It install coCang on Linux

Package: zero-lliurex-docker
Architecture: all
Section: x11
Depends: zero-center,epi-gtk,jq,cdc-mapper (<=32)
Description: Docker installer
 Zero-center helper, It installs Docker on Lliurex
 
Package: zero-lliurex-dvdcss
Architecture: all
Section: x11
Depends: zero-center, gdebi,epi-gtk
Conflicts: lliurex-zero-installer-dvdcss
Replaces: lliurex-zero-installer-dvdcss (<=0.126.5)
Breaks: lliurex-zero-installer-dvdcss (<=0.126.5)
Provides: lliurex-zero-installer-dvdcss
Description: Extra codecs installer
 Zero-center helper, It downloads and installs codecs for DVD package
 
Package: zero-lliurex-fonts
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Conflicts: zero-installer-fonts
Replaces: zero-installer-fonts (<=0.126.5)
Breaks: zero-installer-fonts (<=0.126.5)
Provides: zero-installer-fonts
Description: Extra fonts installer
 Zero-center helper, It downloads and installs extra-fonts package
 
Package: zero-lliurex-freecad
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: FreeCad installer
  Zero-center helper, It downloads and installs FreeCad package

Package: zero-lliurex-fritzing
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Fritzing installer
  Zero-center helper, It downloads and installs Friting package

Package: zero-lliurex-ganttproject
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: GanttProject installer
  Zero-center helper, It downloads and installs GanttProject package

Package: zero-lliurex-geany
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Geany installer
  Zero-center helper, It installs Geany IDE

Package: zero-lliurex-geogebra
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: GeoGebra installer
  Zero-center helper, It installs GeoGebra flatpak version

Package: zero-lliurex-gimagereader
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: gImageReader installer
  Zero-center helper, It installs gImageReader flatpak version

Package: zero-lliurex-gns3
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: GNS3 installer
  Zero-center helper, It installs GNS3 gui and server packages

Package: zero-lliurex-hotpotatoes
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Conflicts: lliurex-zero-installer-hotpotatoes
Replaces: lliurex-zero-installer-hotpotatoes (<=0.126.5)
Breaks: lliurex-zero-installer-hotpotatoes (<=0.126.5)
Provides: lliurex-zero-installer-hotpotatoes
Description: Hotpotatoes installer
 Hotpotatoes installer for resources
 
Package: zero-lliurex-kiosko
Architecture: all
Section: x11
Depends: zero-center, chromium-browser
Conflicts: lliurex-zero-installer-kiosko
Replaces: lliurex-zero-installer-kiosko (<=0.126.5)
Breaks: llliurex-zero-installer-kiosko (<=0.126.5)
Provides: lliurex-zero-installer-kiosko
Description: Lliurex Technology lab
 Zero-center installer to run kiosk mode
 
Package: zero-lliurex-krita
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Krita installer
  Zero-center helper, It downloads and installs krita package

Package: zero-lliurex-lmms
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: LMMS installer
  Zero-center helper, It downloads and installs Linux MultiMedia Studio

Package: zero-lliurex-lumi
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Lumi installer
  Zero-center helper, It downloads and installs Lumi appimage

Package: zero-lliurex-mariadb-client
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: MariaDB Client installer
  Zero-center helper, It installs MariaDB client package

Package: zero-lliurex-midicss
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Conflicts: lliurex-zero-installer-midicss
Replaces: lliurex-zero-installer-midicss (<=0.126.5)
Breaks: lliurex-zero-installer-midicss (<=0.126.5)
Provides: lliurex-zero-installer-midicss
Description: MIDI codecs installer
 Zero-center helper, It installs codecs for MIDI package
   
Package: zero-lliurex-mixxx
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Mixxx installer
 Zero-center helper, It installs mixxx on Lliurex
 
Package: zero-lliurex-notebook-bar
Architecture: i386
Section: x11
Depends: zero-center
Conflicts: zero-notebook-bar
Replaces: zero-notebook-bar (<=0.126.5)
Breaks: zero-notebook-bar (<=0.126.5)
Provides: zero-notebook-bar
Description: zero-center installer for notebook
 Remove notebook bar
 
Package: zero-lliurex-obs-studio
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: OBS Studio installer
 Is an software for video recording and live streaming
 
Package: zero-lliurex-ocrfeeder
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: OCRFeeder installer
 Is an optical character recognition suite

Package: zero-lliurex-ollama
Architecture: all
Section: x11
Depends: zero-center
Provides: zero-lliurex-ollama
Description: Ollama installers
 This package allows user to install and configure ollama

Package: zero-lliurex-openmeetings
Architecture: all
Section: x11
Depends: zero-center
Provides: zero-lliurex-openmeetings
Description: Lliurex Openmeetings
 This package allows user to install and configure openmeetings 
  
Package: zero-lliurex-promethean
Architecture: all
Section: x11
Depends: zero-center, epi-gtk
Description: Drivers fro promethean installer
 Zero-center helper, It installs the drivers for the promethean boards 
 
Package: zero-lliurex-pseint
Architecture: all
Section: x11
Depends: zero-center
Description: PSeint installer
 Zero-center helper, It download and install Pseint

Package: zero-lliurex-pygpt
Architecture: all
Section: x11
Depends: zero-center, epi-gtk
Description: PyGPT installer
 Zero-center helper, It installs pyGPT in snap version

Package: zero-lliurex-pyromaths
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Conflicts: lliurex-zero-installer-pyromaths
Replaces: lliurex-zero-installer-pyromaths (<=0.126.5)
Breaks: lliurex-zero-installer-pyromaths (<=0.126.5)
Provides: lliurex-zero-installer-pyromaths
Description: Pyromaths installer
 Zero-center helper, It downloads and installs python-pyromaths package 

Package: zero-lliurex-qgis
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: QGIS installer
  Zero-center helper, It installs QGIS in flatpak version

Package: zero-lliurex-skype
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Skype installer
 Zero-center helper, It installs skype on Lliurex
 
Package: zero-lliurex-spotify
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Spotify client installer
 Zero-center helper, It installs Spotify client on Lliurex

Package: zero-lliurex-spring-boot
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Spring Boot CLI installer
 Zero-center helper, It downloads and installs Spring Boot CLI

Package: zero-lliurex-stellarium
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Stellarium installer
 Zero-center helper, It installs Stellarium on Lliurex

Package: zero-lliurex-symfony
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Symfony installer
 Zero-center helper, It installs Symfony CLI on Lliurex
 
Package: zero-lliurex-technology
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Lliurex Technology lab
 Install packages for a Techonolgy laboratory
 
Package: zero-lliurex-telegram
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Telegram installer
 Zero-center helper, It installs telegram on Lliurex

Package: zero-lliurex-thonny
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Thonny IDE installer
  Zero-center helper, It downloads and installs Tonny IDE in flatpak version in LliureX

Package: zero-lliurex-webex
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Webex installer
 Zero-center helper, It installs Webex on Lliurex
 
Package: zero-lliurex-wine64
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Conflicts: lliurex-zero-installer-wine64
Replaces: lliurex-zero-installer-wine64 (<=0.126.5)
Breaks: lliurex-zero-installer-wine64 (<=0.126.5)
Provides: lliurex-zero-installer-wine64
Description: Wine64 installer
 Zero-center helper, It installs wine on amd64

Package: zero-lliurex-llixhoot
Architecture: all
Section: x11
Depends: zero-center,epi-gtk
Description: Llixhoot installer
 Zero-center helper, It installs llixhoot on Lliurex

Package: zero-lliurex-teams
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Ms Teams installer
  Zero-center helper, It downloads and installs Microsoft Teams Client

Package: zero-lliurex-jellyfin
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk,gnupg2,curl,ca-certificates(>=20210119~20.04.2)
Description: jellyfin installer
  Zero-center helper, It downloads and installs jellyfin media server

Package: zero-lliurex-virtualizer
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Virtualizer tools installer
  Zero-center helper, It downloads and installs tools to work with vitual machines

Package: zero-lliurex-ai2offline
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk, lib32stdc++6, lib32z1
Description: App Inventor 2 offline installer
  Zero-center helper, It downloads and installs app inventor 2 offline

Package: zero-lliurex-learningml
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: LearningML  installer
  Zero-center helper, It installs learningml-desktop

Package: zero-lliurex-nerd-dictation
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: nerd-dictation  installer
  Zero-center helper, It installs nerd-dictation

Package: zero-lliurex-gtts
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Google Text to Speech installer
  Zero-center helper, It installs gtts: Google Text to Speech

Package: zero-lliurex-greenfoot
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Greenfoot installer
  Zero-center helper, It installs greenfoot

Package: zero-lliurex-leocad
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: LeoCAD installer
  Zero-center helper, It installs LeoCAD

Package: zero-lliurex-dbeaver
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: DBeaver Community installer
  Zero-center helper, It installs DBeaver
  
Package: zero-lliurex-zotero
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Zotero installer
  Zero-center helper, It installs Zotero
  
Package: zero-lliurex-aws-cli
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: AWS Cli installer
  Zero-center helper, It installs AWS Cli

Package: zero-lliurex-speech-note
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Speech Note installer
  Zero-center helper, It installs Speech Note

Package: zero-lliurex-mkvtoolnix
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: MkvToolnix installer
  Zero-center helper, It installs MkvToolnix in flatpak version

Package: zero-lliurex-upscayl
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Upscayl installer
  Zero-center helper, It installs Upscayl in flatpak version

Package: zero-lliurex-processing
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Processing installer
  Zero-center helper, It installs Processing in snap version

Package: zero-lliurex-normcap
Architecture: amd64
Section: x11
Depends: zero-center,epi-gtk
Description: Normcap installer
  Zero-center helper, It installs Normcap in flatpak version

