[Desktop Entry]
Type=zomando
Icon=/usr/share/banners/lliurex-neu/zero-lliurex-libreoffice-reset.png
NoDisplay=true
Name=zero-lliurex-libreoffice-reset
