[Desktop Entry]
Version=1.0
Name=FreeCAD AppImage
Name[de]=FreeCAD AppImage
Name[es]=FreeCAD AppImage
Name[ca_ES@valencia]=FreeCad AppImage
Name[ca_ES.UTF-8@valencia]=FreeCad AppImage
Name[ca]=FreeCad AppImage
Name[ca_ES]=FreeCad AppImage
Comment=Feature based Parametric Modeler
Comment[es]=Modelador paramétrico multifuncional
Comment[ca_ES@valencia]=Modelador paramètric multifuncional
Comment[ca_ES.UTF-8@valencia]=Modelador paramètric multifuncional
Comment[de]=Feature-basierter parametrischer Modellierer
Comment[de_DE]=Feature-basierter parametrischer Modellierer
Comment[ca]=Modelador paramètric multifuncional
Comment[ca_ES]=Modelador paramètric multifuncional
GenericName=CAD Application
GenericName[de]=CAD-Anwendung
GenericName[de_DE]=Feature-basierter parametrischer Modellierer
Exec=freecad-appimage
TryExec=freecad-appimage
Terminal=false
Type=Application
Icon=freecad-appimage
Categories=Graphics;Science;Engineering
StartupNotify=true
MimeType=application/x-extension-fcstd
